# Service to execute the AllocationSensor
#
# Change the local path to start.sh if needed
#

[Unit]
Description=Detect the allocation state from the sensor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/IoTRepository/allocationsensor/start.sh
WorkingDirectory=/home/pi/IoTRepository/allocationsensor
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
