#
# Service to execute the Thinger-Test
#

[Unit]
Description=Start the test client for Thinger.io
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
ExecStart=##APP_DIR##/start.sh
WorkingDirectory=##APP_DIR##
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
