# Service to execute the Thinger-Test
#
# Change the local path to thinger if needed
#

[Unit]
Description=Start the test client for Thinger.io
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
ExecStart=##APP_DIR##/build/thinger
WorkingDirectory=##APP_DIR##/build
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
